body { font-family: 'Comic Sans MS', sans-serif; color: #333; padding: 0px; }
footer { background: #f8f8f8; color: #404042; padding: 370px; text-align: center; }
nav { background: #404042; color: #F99F25; padding: 8px 0; text-align: center; }
nav a { color: #F99F25; text-decoration: none; padding: 10px 20px; }
.hero { background: url('your-hero-image.jpg') no-repeat center center; background-size: cover; height: 30px; display: flex; align-items: center; justify-content: center; }
.hero h1 { color: #fff; font-size: 28px; padding: 0px;}
.products { display: flex; justify-content: space-around; padding: 20px; }
.product { text-align: center; }
.footer { text-align: center; padding: 10px 20px 20px 0px; }
header {
	background: #f8f8f8;
	padding: 10px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center; /* Centers content horizontally */
}
.logo {
	transform: translateY(-10px); /* Moves the logo up while keeping it centered */
}
.logo img {
	height: 75px; /* Adjust to the desired height */
	width: auto; /* Keeps the aspect ratio intact */
}
.category-content {
    display: none;
}

#cat1-toggle:checked ~ #cat1,
#cat2-toggle:checked ~ #cat2,
#cat3-toggle:checked ~ #cat3 {
    display: block;
}