<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for ('static',filename='css/style.css')}}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='image/logo.png') }}" alt="B-digitali" >
        </div>
    </header>
    <main class="container">
        {% block content %}


        {% endblock content %}
    </main>
 <div id="bthn" lang="he"></div>
        <script>
            (function () {
               var script = document.createElement("script");
               script.type = "text/javascript";
               script.src = "https://bringthemhomenow.net/1.1.0/hostages-ticker.js";
               script.setAttribute(
                 "integrity",
                 "sha384-DHuakkmS4DXvIW79Ttuqjvl95NepBRwfVGx6bmqBJVVwqsosq8hROrydHItKdsne"
               );
               script.setAttribute("crossorigin", "anonymous");
               document.getElementsByTagName("head")[0].appendChild(script);
             })();
        </script>
    <footer>
        <p>&copy; 2024 B-digitali</p>
    </footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>