{% extends 'base.html' %}
{% block content %}
    <main>
        <h2>Shopping Cart</h2>
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Example cart item -->
                <tr>
                    <td>Product Name</td>
                    <td>
                        <input type="number" value="1">
                    </td>
                    <td>$99.99</td>
                    <td>$99.99</td>
                    <td><button>Remove</button></td>
                </tr>
                <!-- More items can be added here -->
            </tbody>
        </table>
        <p>Total: $99.99</p>
        <button>Checkout</button>
    </main>
{% endblock content %}
