{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav">
        {% for group in product_groups %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink{{ group.product_group_id }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ group.product_group_name }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink{{ group.product_group_id }}">
                {% for subgroup in group.productsSub %}
                <a class="dropdown-item" href="/subcategory/{{ subgroup.product_subgroup_id }}">{{ subgroup.product_subgroup_name }}</a>
                {% endfor %}
            </div>
        </li>
        {% endfor %}
    </ul>
</nav>
{% endblock content %}