{% extends 'base.html' %}
{% block content %}
    <nav>
        {% for group in product_groups %}
            <a href="/category/{{ group.product_group_id }}">{{ group.product_group_name }}</a>
        {% endfor %}
    </nav>
{% endblock content %}