{% extends 'base.html' %}
{% block content %}
    <main>
        <h2>Product Name</h2>
        <img src="path_to_image.jpg" alt="Product Image">
        <p>Description of the product in detail.</p>
        <p>Price: $99.99</p>
        <button>Add to Cart</button>
    </main>
{% endblock content %}